body{
    background: #99999960;
}
#animalLabels{
    min-height: 70px;
    padding: 10px 20px;
}
#rating{
    margin: 4px 0px;
    width: 100%;
    text-align: center;
}
.animal{
    display:inline-table;
    margin: 5px 5px 35px 5px;
}
textarea{
    display: table;
    width: 100%;
    padding: 2px;
}
img{
    box-shadow: 0px 0px 10px #fff;
    /* width:100%; */
}
/* STYLING OF TEXT INPUT */
#searchContainer{
   padding: 10px 20px 0px 0px;   
}
#searchWrap{
    position: relative;
    width:100%;
}
input:focus,input:active,input{
    outline: none;
}
button:focus, button:active{
    outline: none;
    border:none;
}
.fas{
    color: #fff;
    position: absolute;
    left: 30px;
    top: 30px;
}
input[type="text"]:hover .fas{
    color: #333;
}
input[type="text"] {
    padding: 10px 15px 10px 55px;
    margin: 10px 10px 5px 10px;
    background-color: dodgerblue;
    color: #fff;
    border-top:none;
    border-right: none;
    caret-color: #fff;
    font-size: 1.3em;
    float: left;
    width: 100%;
}
::-webkit-input-placeholder { 
    color: white;
    padding: 3px;
  }
input[type="submit"] {
    padding: 2px 8px;  
}
input[type="submit"]:active {
    border:inherit;
    outline: none
}
img:hover{
    cursor: pointer;
}